<nav class="navbar navbar-expand-lg "style="background-color: #1E2A38;">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold" href="#">💳 DigitalBank</a>
    <button class="navbar-toggler text-white border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/admin/customers" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/admin/accounts" >Accounts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Custumers
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/admin/customers">View All</a></li>
            <li><a class="dropdown-item" routerLink="/admin/new-customer">Create</a></li>
          </ul>
        </li>
        <li class="nav-item">
        <a class="nav-link active active text-white" aria-current="page" href="#">logout</a>
      </li>
      </ul>
    </div>
  </div>
</nav>
