<div class="p-3">
  <div class="card">
    <div class="card-header">Authenticatio </div>
    <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
      <div class="mb-3">
        <label class="form-label"> Username</label>
        <input type="text" class="form-control" placeholder="Username" formControlName="username">
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
      </div>
      <div class="mb-3">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
